<!DOCTYPE html>
<html style="height:100%; background-color:#f5f8fa;">
<head>
    <meta charset=" utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/_Layout.css"/>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        function RedirectTo(target)
        {
            return window.location.href("~/"+target);
        }
    </script>
</head>
<body>
    <div id="top">
        <div id="TopBar">
            <div id="leftBlank" style="margin:0px; height:inherit; width:10%;"></div>
            <a id="logo" href='/Home/Index'></a>
            @Html.ActionLink("关于HASA", "About", new { }, new { @class = "botton", id = "bt1" })
            @Html.ActionLink("活动新闻", "News", new { }, new { @class = "botton", id = "bt2" })
            @Html.ActionLink("活动历程", "Archieve", new { }, new { @class = "botton", id = "bt3" })
            @Html.ActionLink("留学经验", "Experiences", new { }, new { @class = "botton", id = "bt4" })
            @Html.ActionLink("加入HASA", "JoinUs", new { }, new { @class = "botton", id = "bt5" })
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="copyRight">&copy;湖南留学生联盟 @DateTime.Now.Year - @ViewData["DB"]  湘ICP备1400358号</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
