@model List<HASAWeb.Models.Article>

@{
    ViewBag.Title = "干货仓库";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Experiences.css" rel="stylesheet" />

<div id="board">
    <div id="top_title" style="margin:3%; margin-left:10%;">干货仓库</div>
    @foreach (var m in Model)
    {
        <hr />
        <a class="line_title" href="@m.Link">@m.Title</a>
        <div class="line_time" style="margin-right:30%; float:right;">@m.PublishTime</div>
    }
    <div id="navi">
        @{
            string url = HttpContext.Current.Request.Url.AbsolutePath;
            List<string> us = url.Split('/').ToList<string>();
            string query = string.Empty;
            for (int i = 0; i < us.Count; i++)
            {
                if (us[i] == "Experiences")
                {
                    if (i == us.Count - 1) { query = "0"; }
                    else { query = us[i + 1]; }
                    break;
                }
            }
        }
        @Html.ActionLink("上一页", "Experiences", new { id = int.Parse(query) - 1 })
        @Html.ActionLink("下一页", "Experiences", new { id = int.Parse(query) + 1 })
    </div>
</div>