@model HASAWeb.Models.Admin

@{
    ViewBag.Title = "AdminDetails";
    Layout = "~/Views/Manager/Manager_Layout.cshtml";
}

<h2>详细信息</h2>

<div>
    <hr />
    <div id="blank" style="width:100%; height:50px;"></div>
    <dl class="dl-horizontal">
        <dd>
            <text class="control-label col-md-2">用户名</text>
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dd>
            <text class="control-label col-md-2">姓名</text>
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            <text class="control-label col-md-2">权限</text>
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>

        <dd>
            <text class="control-label col-md-2">注册时间</text>
        </dd>

        <dd>
            @Html.DisplayFor(model => model.RegisterTime)
        </dd>

        <dd>
            <text class="control-label col-md-2">最后登录时间</text>
        </dd>

        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>

    </dl>
</div>

<div id="blank" style="width:100%; height:50px;"></div>
<p>
    @Html.ActionLink("返回列表", "Admins")
</p>
