@{
    Layout = "Manager_Layout.cshtml";
}

@model HASAWeb.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>文章详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            标题
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dd>
            点击
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Hits)
        </dd>

        <dd>
            关键词
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dd>
            作者
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dd>
            图片
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Pictures)
        </dd>

        <dd>
            内容
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dd>
            摘要
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Abstraction)
        </dd>

        <dd>
            发布时间
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PublishTime)
        </dd>

        <dd>
            修改时间
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ReviseTime)
        </dd>

        <dd>
            过期时间
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ExpiredTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Articles")
</p>
