@{
    Layout = "Manager_Layout.cshtml";
}

@model HASAWeb.Models.Article

@{
    ViewBag.Title = "Edit";
}

<h2>修改文章</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArticleId)
        @Html.HiddenFor(model => model.PublishTime)
        @Html.HiddenFor(model => model.Hits)

        <div class="form-group">
            标题
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            关键词
            <div class="col-md-10">
                @Html.EditorFor(model => model.Keywords, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            栏目
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Column, "活动新闻") 活动新闻
                @Html.RadioButtonFor(model => model.Column, "活动历程") 活动历程
                @Html.RadioButtonFor(model => model.Column, "留学经验") 留学经验
            </div>
        </div>

        <div class="form-group">
            链接
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            作者
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            图片
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pictures, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pictures, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            内容
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            摘要
            <div class="col-md-10">
                @Html.EditorFor(model => model.Abstraction, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Abstraction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            过期时间
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiredTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpiredTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Articles")
</div>
