@{
    Layout = "Manager_Layout.cshtml";
}

@model List<HASAWeb.Models.Article>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Manager/Manager_Layout.cshtml";
}

<h2>Articles</h2>

<p>
    @Html.ActionLink("Create New", "ArticleCreate")
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Hits</th>
        <th>Author</th>
        <th>PublishTime</th>
        <th>ReviseTime</th>
        <th>ExpireTime</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiredTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "ArticleEdit", new { id=item.ArticleId }) |
            @Html.ActionLink("Details", "ArticleDetails", new { id=item.ArticleId }) |
            @Html.ActionLink("Delete", "ArticleDelete", new { id=item.ArticleId })
        </td>
    </tr>
}

</table>
