@{
    Layout = "Manager_Layout.cshtml";
}

@model HASAWeb.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pictures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pictures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abstraction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abstraction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiredTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiredTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Articles")
</p>
