@{
    Layout = "Manager_Layout.cshtml";
}

@model HASAWeb.Models.Article

@{
    ViewBag.Title = "Delete";
}

<h2>删除文章</h2>

<h3>此操作不可逆，确认删除?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            标题
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dd>
            作者
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dd>
            摘要
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Abstraction)
        </dd>

        <dd>
            发布时间
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PublishTime)
        </dd>

        <dd>
            修改时间
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ReviseTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Articles")
        </div>
    }
</div>
