@model List<HASAWeb.Models.Picture>

@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Manager/Manager_Layout.cshtml";
}

<h2>图片</h2>

<p>
    @Html.ActionLink("新建", "PictureCreate")
</p>
<div id="blank" style="width:100%; height:50px;"></div>
<table class="table" border="0">
    <tr>
        <th>
            名字
        </th>
        <th>
            链接
        </th>
        <th>
            上传时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "PictureEdit", new { id=item.PictureId }) |
            @Html.ActionLink("Details", "PictureDetails", new { id=item.PictureId }) |
            @Html.ActionLink("Delete", "PictureDelete", new { id=item.PictureId })
        </td>
    </tr>
}

</table>
