@model HASAWeb.Models.Picture

@{
    ViewBag.Title = "PictureDetails";
    Layout = "~/Views/Manager/Manager_Layout.cshtml";
}

<h2>图片详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            图片名
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            路径
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Route)
        </dd>

        <dd>
            上传时间
        </dd>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

    </dl>
    <img src=@Model.Route style="width:65%; margin:20px;"/>
</div>
<p>
    @Html.ActionLink("Edit", "PictureEdit", new { id = Model.PictureId }) |
    @Html.ActionLink("Back to List", "Pictures")
</p>
